*{
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

body{
    padding: 20px;
    /* font-weight: bold; */
}

h1{
    font-size: 2em;
    font-family:'Times New Roman', Times, serif;
}

h3, span{
    font-size: 1.3em;
    font-family: 'Arial', sans-serif;
}

p{
    font-size: 1.2em;
    padding: 2px;
}



.product-container{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.product{
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: linear;
}

img{
    width: 100%;
    height: 280px;
    border-radius: 10px;
    object-fit: cover;
}

@keyframes rotate{
    0%{
        transform: translate(-1500px) rotate(25deg);
    }
    100%{
        transform: translate(0px) rotate(0deg);
    }
}

.product:hover{
    box-shadow: 0 0 10px 5px #202020;
    transform: scale(1.05);
    transition: 0.5s;
}